.page {
    max-width: 1184px;
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

@media screen and (max-width: 1030px) {
    .page {
        max-width: 1024px;
        width: 100%;
        padding: 28px 0;
    }
}

@media screen and (max-width: 770) {
    .page {
        max-width: 768px;
        padding: 28px 0;
    }
}

@media screen and (max-width: 325) {
    .page {
        max-width: 320px;
        padding: 28px 0;
    }
}