.cover__subtitle {
    width: 360px;
    height: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 730px) {
    .cover__subtitle {
        width: 259px;
        font-size: 14px;
        line-height: 1.14;
    }
}