.header__logo { 
    width: 176px;
    height: 56px;
}


@media screen and (max-width: 1030px) {
    .header__logo {
        height: 52px;
    }
}

@media screen and (max-width: 400px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}