.cover {
    display: inline-block;
    width: 100%;
    height: 740px;
    margin: 0 0 92px;
}

@media screen and (max-width: 1030px) {
    .cover {
        height: 640px;
    }
}

@media screen and (max-width: 770px) {
    .cover {
        height: 480px;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 400px) {
    .cover {
        height: 200px;
        margin: 0 0 64px;
    }
}