.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    padding-top: 6px;
}

@media screen and (max-width: 770px) {
    .lead__caption {
        margin-left: 24px;
        
    }
}

@media screen and (max-width: 400px) {
    .lead__caption {
        padding-top: 5px;
        margin-left: 17px;
        
    }
}