.place {
    max-width: 984px;
    width: 100%;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    margin-bottom: 80px;
    gap: 48px 40px;
}

.place:last-child {
    margin: 0;
}

@media screen and (max-width: 1030px) {
    .place {
        max-width: 928px;
        gap: 48px 32px;

    }
}

@media screen and (max-width: 770px) {
    .place {
        max-width: 720px;
        gap: 47px 28px;
        margin-bottom: 73px;
    }
}