.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
}

@media screen and (max-width: 1030px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 770px) {
    .footer {
        width: 94%;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
    }
}